<div class="main">
    <div class="matcard">
        <div>
            <form [formGroup]="Login" class="login" #loginform="ngForm">
                <div class="userlogo">
                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                </div>
                <h1>Login</h1>
                <p>
                    <mat-form-field class="textbox">
                        <mat-label><i class="fa fa-user" aria-hidden="true"></i>Email</mat-label>
                        <input matInput type="text" formControlName="user" required>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field class="textbox">
                        <mat-label><i class="fa fa-lock" aria-hidden="true"></i>Password</mat-label>
                        <input matInput type="password" formControlName="password" required>
                    </mat-form-field>
                </p>
                <div class="submit">
                    <button mat-stroked-button [disabled]="Login.invalid" (click)="onSubmit()">Login</button>
                </div>
                <div class="already">
                    <p>Create an account? </p>
                    <button mat-button (click)="already()">Sign up</button>
                </div>
            </form>
        </div>
    </div>
</div>