

<p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>ZINE-E-SHOPPING</span>
      <span class="example-spacer"></span>
      <nav>
        <a routerLink="../"> 
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon style="color: cornsilk;">home</mat-icon>
      </button>
    </a> 
  </nav>
      <nav>
        <a routerLink="/cart"> 
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon style="color: cornsilk;">shopping_cart</mat-icon>
      </button>
    </a> 
  </nav>
    </mat-toolbar>
 
  </p>