.example-spacer {
    flex: 1 1 auto;
  }
  /** No CSS for this example */
.settings-card {
  height: 270px;
  width: 360px;
}

.mat-card {
  padding: 16px;
  padding-top: 12px;
}

.padRight {
  display: grid;
  float: right;
  text-align: right;
}

.cardTitle {
  color: #1f54a6;
  height: 27px;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.25px;
}

.productIcon {
  float: right;
}

.product {
  height: 16px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.mat-progress-bar {
  padding-top: 15px;
  height: 24px;
}

 .mat-progress-bar-fill::after {
  background-color: #d0021b;
}

 .mat-progress-bar-buffer {
  fill: #d8d8d8;
  background-color: #d8d8d8
}

.barStatus {
  position: relative;
  top: -22px;
  left: 5px;
  height: 20px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.25px;
}

.barText {
  position: relative;
  top: -26px;
  color: #d0021b;
  font-family: Lekton;
  font-size: 22px;
  font-weight: 700;
  padding-left: 2px;
  width: 15%;
  text-align: right;
  display: grid;
  float: right;
}
.cardLabel {
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}
.example-button-row {
  display: table-cell;
  width: 490px;
}

a
{
  text-decoration: none;
  color: #fff;
}
