<div class="footer">
    <div class="view">
        <div class="leftview">
            <div class="displayleft">
                <div class="leftleft">
                    <button mat-button><a routerLink="/home" routerActiveLink="active">Home</a></button>
                    <button mat-button><a routerLink="/about" routerActiveLink="active">About us</a></button>
                    <button mat-button><a routerLink="/contact" routerActiveLink="active">Contact us</a></button>
                </div>
                <div class="leftright">
                    <button mat-button><a routerLink="/agriculture" routerActiveLink="active">Agriculture</a></button>
                    <button mat-button><a routerLink="/aquaculture" routerActiveLink="active">Aquaculture</a></button>
                    <button mat-button><a routerLink="/citizen" routerActiveLink="active">Citizen</a></button>
                </div>
            </div>
        </div>
        <div class="middleview">
            <address>
                Visit us at : <br>
                K L Deemed to be University,<br>
                Green Fields, Vaddeswaram,<br>
                Guntur District, A.P., INDIA. <br>
                Pincode : 522 502.<br>
                <i class="fa fa-phone"></i>: 0863 239 9999<br>
                <i class="fa fa-fax"></i>: 0863-2388999<br>
                <i class="fa fa-envelope"></i>:
                <a href="mailto:confusion@food.net">kluniversity@kluniversity.in</a>
            </address>
        </div>
        <div class="rightview">
            Follow us On
            <div>
                <a mat-icon-button target="_blank" class="btn-google-plus" href="http://google.com/+"><i
                        class="fa fa-google-plus fa-lg"></i></a>
                <a mat-icon-button target="_blank" class="btn-facebook"
                    href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook fa-lg"></i></a>
                <a mat-icon-button target="_blank" class="btn-linkedin" href="http://www.linkedin.com/in/"><i
                        class="fa fa-linkedin fa-lg"></i></a>
                <a mat-icon-button target="_blank" class="btn-twitter" href="http://twitter.com/"><i
                        class="fa fa-twitter fa-lg"></i></a>
                <a mat-icon-button target="_blank" class="btn-youtube" href="http://youtube.com/"><i
                        class="fa fa-youtube fa-lg"></i></a>
                <a mat-icon-button target="_blank" class="btn-mail" href="mailto:"><i
                        class="fa fa-envelope-o fa-lg"></i></a>
            </div>
        </div>
    </div>
</div>